In [1]:
import pandas_datareader.data as web
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import numpy as np

In [2]:
start_date=datetime.datetime(2021,1,1)
end_date=datetime.datetime(2021,6,1)
print(start_date)

2021-01-01 00:00:00

In [3]:
tata=web.DataReader('TTM','yahoo',start_date,end_date)

In [4]:
tata["Close"][1]

12.760000228881836

In [5]:
tata.head(10)

                 High        Low   Open      Close   Volume  Adj Close
Date
2020-12-31  12.670000  12.560000  12.58  12.600000   957900  12.600000
2021-01-04  13.150000  12.670000  12.97  12.760000  1898200  12.760000
2021-01-05  13.360000  12.900000  12.93  13.300000  1802000  13.300000
2021-01-06  13.510000  13.230000  13.39  13.340000  1898000  13.340000
2021-01-07  13.470000  13.350000  13.39  13.450000   997600  13.450000
2021-01-08  13.700000  13.430000  13.50  13.670000  1662400  13.670000
2021-01-11  15.950000  15.020000  15.02  15.900000  7612300  15.900000
2021-01-12  16.709999  16.190001  16.24  16.549999  4770700  16.549999
2021-01-13  16.680000  16.080000  16.65  16.270000  2466500  16.270000
2021-01-14  16.969999  16.620001  16.68  16.889999  2041400  16.889999

In [6]:
def FindingAllPeck(tata):
    temp=tata['High'][0]
    peaks=pd.DataFrame()
    for i,row in tata.iterrows():
        if row['High']>temp:
            peaks=peaks.append(pd.Series({'High':row['High']},name=i))
        temp=row['High']    
    return peaks

In [7]:
def FindingAllLows(tata):
    temp=tata['Low'][0]
    lows=pd.DataFrame()
    for i,row in tata.iterrows():
        if row['Low']<temp:
            lows=lows.append(pd.Series({'Low':row['Low']},name=i))
        temp=row['Low']    
    return lows

In [8]:
def returns(tata):
    temp=tata['Close'][0]
    last=tata['Close'][0]
    returns=pd.DataFrame()
    for i,row in tata.iterrows():
        temp=row['Close']-last
        returns=returns.append(pd.Series({'Returns':temp},name=i))
        last=row['Close']
    return returns

In [9]:
#4
def N4():
    returns(tata).plot(figsize=(15,7))
    plt.title('Tata Motors Limited (TTM) Percentage Returns')
    plt.ylabel('Percentage Returns')
    plt.xlabel('Date')
    plt.show()
    print('Data')
    print(returns(tata))

In [10]:
#3
def N3():
    FindingAllLows(tata).plot(figsize=(15,7))
    plt.title('Tata Motors Limited (TTM) All Lows')
    plt.ylabel('Stock Prices')
    plt.xlabel('Date')
    plt.show()
    print('Data')
    print(FindingAllLows(tata))

In [11]:
#0
def N0():
    tata['High'].plot(label="Pick Price",figsize=(15,7))
    tata['Low'].plot(label="Lowest Price")
    tata['Open'].plot(label="Opening Price")
    tata['Close'].plot(label="Closeing Price")
    plt.legend()
    plt.title('Tata Motors Limited (TTM)')
    plt.ylabel('Stock Prices')
    plt.show()

In [12]:
#2
def N2():    
    FindingAllPeck(tata).plot(figsize=(15,7))
    plt.title('Tata Motors Limited (TTM) All Pecks')
    plt.ylabel('Stock Prices')
    plt.xlabel('Date')
    plt.show()
    print('Data')
    print(FindingAllPeck(tata))

In [13]:
#1
def N1():
    tata['Volume'].plot(label='Volume',figsize=(15,7))
    plt.title('Volume of Tata moters')
    plt.show()
    print('Data')
    print(tata['Volume'])

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression

In [15]:
def Prediction_of_high(tata):
    #getting High prices for Prediction
    tata=tata[['High']]
    
    #making a coloumb for prediction
    future_days=30
    tata['Prediction']=tata[['High']].shift(-future_days)
    #tata.head()
    
    #creating a feature data set (X) and convert it into numpy array and remove last 'X' rows/days
    X=np.array(tata.drop(['Prediction'],1))[:-future_days]
    
    #creating a target data set y and convert it to the numpy array and get all the target values except the last 'x' rows/days
    y=np.array(tata["Prediction"])[:-future_days]
    
    #spliting data into 75% train and 25% test
    x_train, x_test, y_train, y_test=train_test_split(X,y,test_size=0.25)
    
    #creating a Decision tree regressor model
    tree=DecisionTreeRegressor().fit(x_train,y_train)
    #also creating a Liner regressor model For comparision
    lr=LinearRegression().fit(x_train,y_train)

    
    #getting last 'x' rows of predicted data set
    x_pred=tata.drop(['Prediction'],1)[:-future_days]
    x_pred=x_pred.tail(future_days) 
    x_pred=np.array(x_pred)
    
    
    #Show the prediction
    #tree model
    tree_prediction=tree.predict(x_pred)
            #print(tree_prediction)
            #print()
    #linear model
    lr_prediction=lr.predict(x_pred)
            #print(lr_prediction)
        
     
    #ploting Graph of tree model prediction
    prediction=tree_prediction

    valid=tata[X.shape[0]:]
    valid['Prediction']=prediction      #error
    plt.figure(figsize=(15,7))
    plt.title('Deision Tree Regresser Prediction')
    plt.xlabel('Date')
    plt.ylabel('High Price')
    plt.plot(tata["High"])
    plt.plot(valid[['High','Prediction']])
    plt.legend(['Original Price','Valid Price','Prediction'])
    plt.show()
    
    print()
    
    #ploting Graph of linear model prediction
    prediction=lr_prediction

    valid=tata[X.shape[0]:]
    valid['Prediction']=prediction       #error
    plt.figure(figsize=(15,7))
    plt.title('Linear Regression Prediction')
    plt.xlabel('Date')
    plt.ylabel('High Price')
    plt.plot(tata["High"])
    plt.plot(valid[['High','Prediction']])
    plt.legend(['Original Price','Valid Price','Prediction'])
    plt.show()

In [16]:
#Stock Span problem 
class span:
    def __init__(self,tata,num_of_days):
        self.tata=tata
        self.num_of_days=num_of_days
    def cal_span(self):
        sp=[None]*self.num_of_days
        sp[0]=1
        for i in range(1,self.num_of_days):
            sp[i]=1
            for j in range(i):
                if self.tata["Close"][j]<=self.tata["Close"][i]:
                    sp[i]+=1    
        return sp

In [18]:
print('Press following number to know for Tata Motors Limited (TTM) Stocks')
print("0 = All in one Graph (Pick Price,Lowest Price,Opening Price,Closeing Price)\n1 = Volume\n2 = All Pecks\n3 = All Lowes\n4 = % Returns\n5 = For Predictions of High(Include two models Linear Regression and Decision Tree Regression. )")
validInput=['0','1','2','3','4','5','6']      
while True:
    vbl=input("Enter Number")
    if vbl not in validInput:
        print("Not a valid input")
    else:
        break
if vbl=='0':
    N0()
elif vbl=='1':
    N1()
elif vbl=='2':
    N2()
elif vbl=='3':
    N3()    
elif vbl=='4':
    N4()      
elif vbl=='5':
    Prediction_of_high(tata)
else:
    num_of_days=int(input("Enter number of days you want from starting date"))
    sp=span(tata,num_of_days)
    print(sp.cal_span())

Press following number to know for Tata Motors Limited (TTM) Stocks
0 = All in one Graph (Pick Price,Lowest Price,Opening Price,Closeing Price)
1 = Volume
2 = All Pecks
3 = All Lowes
4 = % Returns
5 = For Predictions of High(Include two models Linear Regression and Decision Tree Regression. )
Enter Number6
Enter number of days you want from starting date10
[1, 2, 3, 4, 5, 6, 7, 8, 8, 10]

In [ ]:
tata.head(20)